@model RIK_HomeWork.Models.Yritus

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form>

    <div class="form-group">
        <label for="exampleFormControlInput1">Ürituse nimi</label>
        <input type="text" class="form-control" id="Yritus_nimi" placeholder="AnimeCON">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Kuupäev</label>
        <input type="datetime" class="form-control" id="Kuupaev" placeholder="kk.dd.aaaa">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Asukoht</label>
        <input type="text" class="form-control" id="Asukoht" placeholder="Tallinn">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Lisainfo</label>
        <input type="text" class="form-control" id="Lisainfo" placeholder="Turvameetmed">
    </div>
    <button onclick="submitForm();" type="button" class="btn btn-primary">Loo uus üritus</button>

    <script type="text/javascript">
    function submitForm() {
            var json = {
                'Yritus_nimi': $('#Yritus_nimi').val(),
                'Kuupaev': $('#Kuupaev').val(),
                'Asukoht': $('#Asukoht').val(),
                'Lisainfo': $('#Lisainfo').val()
        };
            console.log(json);
            $.ajax({
                method: "POST",
                url: "api/YritusApi",
                data: json
            });
        }</script>

</form>    

@*}*@

<div type="button" class="btn btn-default mt-2">
    @Html.ActionLink("Back to List", "../Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
